.idea
/node-worklet-js/.idea
/node-worklet-js/dist
/node-worklet-js/node_modules
/node-worklet/.idea
/node-worklet/cmake-build-debug
/node-worklet/cmake-build-debug
/node-worklet/nodejs/.idea
/node-worklet/nodejs/agil
/node-worklet/nodejs/build
/node-worklet/nodejs/cmake-build-debug
/node-worklet/nodejs/node-modules